<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class = "footer">
	</br>
	</br>
	<div class="ui six column centered grid">
		<div class = "column"></div>
		<div class = "column"></div>
		<div class = "column left aligned">
			<h4>Company</h4>
		  	<a href = "/meettheteam" class = "footertext">About Us</a>
		</div>
		<div class = "column left aligned">Haley</div>
		<div class = "column"></div>
		<div class = "column"></div>
	</div>
</div>
