<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class = "footer" style = "top: 60px; position:relative;">
	</br>
	</br>
	<div class="ui six column centered grid">
		<div class = "column"></div>
		<div class = "column"></div>
		<div class = "column center aligned">
			<h4>About UrbanSpire</h4>
			<a href = "/howitworks" class = "footer_text"><div class = "link">How it Works</div></a>
		  	<a href = "/meettheteam" class = "footer_text"><div class = "link">Meet the Team</div></a>
			<a href = "/contactus" class = "footer_text"><div class = "link">Contact Us</div></a>
			<a href = "/faq" class = "footer_text"><div class = "link">FAQ</div></a>
		</div>
		<div class = "column center aligned">
		<h4>Our Website</h4>
		  	<a href = "/learn" class = "footer_text"><div class = "link">Learn</div></a>
			<a href = "/teach" class = "footer_text"><div class = "link">Teach</div></a>
		</div>
		<div class = "column"></div>
		<div class = "column"></div>
	</div>
	<div class="ui three column centered grid">
  		<div class="ui divider footer_divider"></div>
  	</div>
  	<div class="ui three column centered grid">
		<div class = "row">
			<div class = "column"></div>
			<div class = "column center aligned">
				<h4>Join Us On</h4>	
			</div>	
			<div class = "column"></div>
		</div>
		<div class = "row">
			<div class = "column"></div>
			<div class = "column center aligned">
				<i class="facebook icon" id = "spaced"></i>
				<i class="google plus icon" id = "spaced"></i>
				<i class="twitter icon" id = "spaced"></i>
				<i class="linkedin icon" id = "spaced"></i>
				<i class="pinterest icon" id = "spaced"></i>
				<i class="youtube icon" id = "spaced"></i>
				<i class="instagram icon" id = "spaced"></i>
			</div>	
			<div class = "column"></div>
		</div>
  	</div>
</div>
