<div class="ui top fixed menu">
	<div class = "header">
		<div id="logo_div">
			<a href = "home">
				<img style = "width: 100%; height: 100%" src = "images/logo.jpg">
		</div>
		</div>
  	<a class = "ui header" id = "name" href = "home">UrbanSpire</a>

	<div class="ui secondary pointing right menu">
	  <a id="homeMenu" href = "home" class="item">
	    Home
	  </a>
	  <a id="learnMenu" href = "learn" class="item">
	    Learn
	  </a>
	  <a id="teachMenu" href = "teach" class="item">
	    Teach
	  </a>
	  <a id="loginMenu" href = "profile" class="item">
	    Profile
	  </a>
	</div>
</div>