<script src="/dropdown/dropdown.js"></script>
<link rel="stylesheet" type="text/css" href="/dropdown/dropdown.css">
<script>
    $( document ).ready(function() {
        $('.dropdown').dropdown({action: 'combo'});
    });
</script>

<div class="ui top fixed menu">
	<div class = "header">
		<div id="logo_div">
			<a href = "home">
				<img style = "width: 100%; height: 100%" src = "images/logo.jpg">
		</div>
		</div>
  	<a class = "ui header" id = "name" href = "home">UrbanSpire</a>

	<div class="ui secondary pointing right menu" id = "nav_bar">
	  <a id="homeMenu" href = "home" class="item">
	    Home
	  </a>
	  <a id="learnMenu" href = "learn" class="item">
	    Learn
	  </a>
	  <a id="teachMenu" href = "teach" class="item">
	    Teach
	  </a>
	</div>
	<div class = "profile_divider">
	    <div class="ui inline floating dropdown">
	      <input type="hidden">
		    <div class="text">
				<img class="ui circular massive image" id = "profile_pic" src="/images/default-profile.png">
		    </div>
		    <i class="dropdown icon orange"></i>
		    <div class="menu">
		      	<a href = "my_classes">
		      		<div class="item">
		       			My Classes
		      		</div>
		      	</a>
		      	<a href = "my_teachings">
		      		<div class="item">
		        		My Teachings
		      		</div>
		      	</a>
		      	<a href = "profile">
		      		<div class="item">
		        		My Profile
		      		</div>
		    	</a>
		      	<div class="item">
		       		Logout
		      	</div>
		    </div>
	    </div>
	</div>
</div>