body {
	font-family: "Georgia";
}
h3.ui.header.subtitles {
	text-align: center;
	font-size: 30px;
	padding-top: 70px;
}
h4.ui.header.underline {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 30px;
	color: #F2711C;
}
h5.column {
	margin-top: 0px;
	margin-bottom: 0px;
}
#main_banner {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	min-width: 813px;
	max-width: 1500px;
	opacity: 0.55;
	position: absolute;
}
#name {
	position: absolute;
	color: #F2711C;
}
#logo_div {
	width: 60px;
    height: 50px;   
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
#logo {
	min-height: auto;
	max-height: auto;
	height: auto;
	width: 100px;
}

#motto_large {
	font-size: 50px;
	color: white;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 0px;
	top: 50%;
}
#motto_small {
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
}
#prompt {
	color: black;
	font-size: 35px;
}
#banner_prompt {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#highlighted {
	color: rgb(247, 150, 70);
}
#orange {
	color: red;
}
#newcomer_button { 
	margin-top: 30px;
  	margin-bottom: 50px;
}
#local_button { 
	margin-top: 30px;
  	margin-bottom: 50px;
}
#work_labels {
	float: left;
	position: block;
}
#or_divider {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 18px;
}
#numbering {
	float: left;
	position: block;
}
#nav_bar {
	margin-right: 10px;
}
#nav_bar_space {
	margin-right: 150px;
}
#profile_icon {
	border: 1px solid #D3D3D3;
	margin-left: 20px;
	bottom: 10px;
	height: 50px;
	position: relative;
}

.large_icon {
	height: 100px;
	width: 100px;
	display: inline-block;
	float: middle;
}
.gray_background {
	background-color: #F5F5F5;	
}
.ui.segment {
	margin: 0px 0px 0px 0px;
}
.ui.secondary.pointing {
	margin-bottom: 15px;
}
#menu_bar {
	width: 10px;
}
.banner {
	position: relative;
	overflow: hidden;
	background-position: center;
	background-color: black;
	height: 500px;
	margin-top: 15px;
}
.learnteach {
	float: right;
}
.banner_middle {
	opacity: 1;
	height: 100%;
	border: none;
	vertical-align: middle;
}
/*.massive {
	width: 250px;
	height: 200px;
}*/
.visible.content {
	top: 42%;
	font-size: 18px;
	color: white;
	opacity: 1;
}
.user_account {
	float: right;
}
.vision_statement {
	font-size: 20px;
	text-align: center;
}
.working_statement {
	font-size: 20px;
	text-align: center;
}
.footer {
	background-color: #F2711C;
	height: 300px;
}
.ui.divider.spaced {
	margin-top: 80px;
	margin-bottom: -20px;
}
.home_banner {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	min-width: 813px;
	max-width: 1919px;
	opacity: 0.55;
	position: absolute;
}
.profile_divider {
	position: absolute;
    right: 20px;
    top: 28%;
    bottom: 28%;
    border-left: 1px solid #D3D3D3;
    margin-left: 0px;
    margin-right: 5px;
}
a#homescreen.ui.large.button {
	background: rgba(202, 203, 205, 0.5);
}
a#homescreen.ui.large.button:hover {
	background: rgba(0, 0, 0, 0.4);
}



