#works-header {
  padding-top: 60px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-color: #F2711C;
}

#works-subheader {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 18px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: white;
  background-color: #F2711C;
}

#question {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-top: 15px;
  vertical-align: center;
}
#question_text {
  color: #F2711C;
}
#answer {
  width: 100%;
}
.small_text {
  font-size: 16px;
}

h4 {
  font-weight: normal;
  font-size: 16px;
}
