.container {
  position: fixed;
  top: 75%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
  font-weight: bold;
}

.containertwo {
  position: fixed;
  top: 75%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: left;
  font-weight: bold;
}

.box {
	vertical-align: left;
	text-align: left;
}
/*
body {
	font-family: "Georgia";
}*/
#logo {
	padding-left: 20px;
	text-align: left;
}
#motto {
	font-size: 50px;
	color: white;
	text-align: center;
	display: inline-block;
	padding-top: 120px;
	top: 50%;
}

#banner_prompt {
	background-color: #F5F5F5;
	padding-top: 30px;
	padding-bottom: 30px;

}
.ui.segment {
	margin: 0px 0px 0px 0px;
}
.banner {
	position: relative;
	background-position: center;
	background-color: black;
	height: 400px;
}
.learnteach {
	float: right;
	margin-bottom: 50px;
}
.banner_middle {
	opacity: 1;
	height: 100%;
	border: none;
	vertical-align: middle;
	text-align: center;
}
.massive {
	width: 250px;
	height: 200px;
}
.visible.content {
	top: 42%;
	font-size: 35px;
}

.home_banner {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	min-width: 620px;
	max-width: 1920px;
	opacity: 0.55;
	position: absolute;

}

.front_page_action_text {
	font-size: 18px;
	text-align:center;
}

.h1 {
	font-size: 28px;
}

.description {
	font-size: 24px;
}


.title {
	padding:30px;
	text-align:center;
}

.middlecontainer {
  text-align: center;
  font-size: 18px;
  padding-top: 50px;
}

.centeredText {
	text-align: center;
}

.bottom-container {
	top: 95%;
	/*text-align: center;*/
	padding-top: 50px;
}

.user_account {
	float: right;
}


.image{
	width: 290px;
	height: 217px;
}

.wrapper {
	position:absolute;
	left:5%;
}
