#class_entry {
	background-color: #F5F5F5;
	margin-top: 50px;
}
#question_mark {
	display: inline;
	padding-left: 10px;
}
#textbox {
	width: 95%;
}
#zipcode {
	width: 60%;
}

#class-entry-container {
  background-color: #F5F5F5;
  margin-top: 40px;
}

#inspiration {
  position: absolute;
  top: 50px;
  right: -200px;
}

#my_map {
        width: 500px;
        height: 400px;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 350px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#teach-header {
  margin-top: 60px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#teach-subheader {
  text-align: center;
  margin-top: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 300px;
}

#confirm_box {
  text-align: center;
  display: none;
  border: solid 3px orange;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 40%;
  width: 70%;
  margin-left: 15%;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}