<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/css/aboutus.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>

    <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>-->
  <script src="/popup/popup.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <title>UrbanSpire</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/teach.css">
  <link rel="stylesheet" type="text/css" href="/popup/popup.css">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Sign-In Page</title>

    <style>

        p {
            font-family: sans-serif;
        }

    </style>

  </head>

  <body>

    <% include ../partials/menu-bar.ejs %>

   <!--  <div class="ui segment">
    <a class = "ui left aligned header" id = "logo" href = "">UrbanSpire</a>
  </div> -->

       <div class = "topbar"> 
      <br>
      <div class="ui huge header">About Us</div>
      <br> 
      </div>

    <div class = "description"> 
      <br> 

        <div class="ui medium header"> Context </div>
        <p> UrbanSpire first came to life in a Fall 2015 class offering of CS247:HCI Design Studio at Stanford University. The theme of the class was urban computing, and suggestions for projects spanned environmental concerns and eco-sustainability, helping the disabled navigate urban spaces, and making urban spaces more pet-friendly.</p>

        <div class="ui medium header"> Idea </div>
        <p> Nikhita Obeegadoo, Margaret Wenzlau and Asli Kimya were three seniors studying HCI. They were intrigued by the fact that modern urban societies often bring together people from a wide variety of cultural backgrounds and origins, and that cultural newcomers often feel overwhelmed by the constant need to always be learning.  How to facilitate this integration process by making it more fun and friendly? How to allow newcomers to teach something valuable from their home culture, as they are constantly learning the norms and practices of thei new setting? How to bring together people motivated by cultural appreciation, and thus create intercultural bonds within the community?  <br> Urbanspire was born. </p>

        <div class="ui medium header"> A First Try: CS247 Implementation </div>
        <p> In CS247, the three major steps we went through were: 
          <ol type="1">
           <li>  Needfinding: Interviewing our user group to figure out exactly what they need. </li>
           <li>  Design: Creating designs on paper and on Sketch 3 and Canva to get an idea of the preliminary design. </li>
           <li>  Implementation: Implementing a preliminary UI with working functionality. </li> 
       </ol>
        </p>

        <div class="ui medium header"> Revamped Product: CS194H </div>
        <p>  In CS194H, a new team was formed to completely revamp this product and bring it to the next level: Adrienne Ivey, Christina Kao, Haley Kong and Nikhita Obeegadoo (from the old team). Major milestones over the course of this quarter: 
        <ol type="1">
          <li>   Performing a usability study to assess where the app currently stood, and how to make it better. </li>
           <li>  Figuring out a business model for UrbanSpire. </li>
           <li>  Going through multiple iterations of Hi-Fi prototypes. </li> 
           <li>  Creating a high-quality concept video. </li> 
       </ol>

        </p>

        <div class="ui medium header"> Conclusion </div>
        <p>  In the long term, we hope our product will weave in newcomers and local community members, students, community centers and businesses into a more cohesive and culturally diverse community. Our key innovation lies in the creation of a platform that allows the exchange of culturally-specific skills within modern communities. This is innovative in that: 
        <ol type="1">
          <li> It not only is aware of the immense cultural knowledge existing in communities around us, but harnesses this cultural wealth to form meaningful bonds within communities. </li> 
         <li>  It connects culture learners to culture teachers directly, without the need for an intermediary. </li> 
       </ol> 


        We hope that our app will: 
        <ol type="1">
         <li>  Foster stronger intercultural links within communities </li>
         <li> Create more culturally-aware and therefore culturally-appreciative individuals </li>
         <li> Thus, contribute to a more understanding and intercultural world, where prejudice and stereotypes regarding other cultures is replaced by a feeling of awe and excitement regarding what they can teach us. </li> 
       </ol>

       <br> 
        We are grateful to the Stanford CS-HCI department, especially the teaching teams of CS247 and CS194H, to have helped us bring this product to life; to all the participants who took part in our user testing and provided us with valuable feedback; and to an amazing team for a wonderful experience! </p>

    </div> 

  


  </body>

</html>
