<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<title></title>

	<link href="semantic/semantic.min.css" rel="stylesheet">
	<link href="semantic/semantic.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/home.css">

	<script src="semantic/semantic.min.js"></script> 
	<script src="semantic/semantic.js"></script> 

</head>

<body>

	<% include ../partials/menu-bar.ejs %>

	<!--<div class="class_des_wrapper">
		<button class="ui button class_des_close_button" onClick="javascript:history.back(1)">X</button>
		<div class="class_des" id="class_container">-->
			<div class="ui grid class_des_teacher_info" style="padding-top: 60px;">
				<div class="one wide column"></div>
  				<div class="four wide column">
  					<div class="ui fluid card">
					  <div class="content">
					    <div class="header" style="font-size: 15px;">Select a date and time</div>
					  </div>
					  <div class="content">
					    <select class="ui dropdown" style="width:100%;">
						  <option value="0">02/20/2016  5PM - 7PM</option>
						  <option value="1">02/21/2016  5PM - 7PM</option>
						</select>
					  </div>
					  <div class="extra content">
					    <button class="ui yellow button" style="width: 100%;">Sign up</button>
					  </div>
					</div>
  					<div class="ui fluid card">

  						<div class="content">
						    <img class="ui avatar image" src="/images/matthew.png"> <!-- Matthew -->
						</div>
  						
  						<div class="content">
  							<p class="header class_des_instructor_title">Instructor Info</p>
    						
    						<div class="meta">
      							<span class="date">Email:</span>
   							</div>
    						<div class="description">
      							Matthew is an art director living in New York.
    						</div>
  						</div>
  						<div class="extra content">
    						<a>
      							<i class="user icon"></i>
      							22 Friends
    						</a>
  						</div>
					</div>
  				</div>
  				<div class="nine wide column">
  					<div class="ui fluid card">
					  <div class="content">
					    <div class="header class_des_title"> <%= classdata.name %> <span> &nbsp;&nbsp;&nbsp;</span><span class="ui tag label class_setting_tag">Group</span> </div>
					  </div>
					  <div class="content">
						  <div class="card">
						    <div class="image">
						      <img src="/images/turkish_dance.png">
						    </div>
						  </div>
					  </div>
					  <div class="content">
					    <h4 class="ui sub header">Class Description</h4>
					    <div class="ui small feed">
					      This is where all new dancers start. This class gives you the understanding of basic belly dance technique, posturing, language, move execution and it helps you to build necessary strength. You must have a working knowledge of the material in the intro class to move into the intermediate drills. Moving into the intermediate drills class must be approved by your instructor. This class is drop in friendly. 
					    </div>
					    <h4 class="ui sub header">Address: 750 Escondido Rd, Stanford, CA 94305</h4>
					  </div>
					  <iframe width="420" height="320" frameborder="0" style="border:0; padding-left: 20px; padding-bottom: 10px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJdX42cNu6j4AR8cteudGn_nA&key=AIzaSyBWrRwS96iCRzzRUw5gtzjXvvgj4MMBeQ0" allowfullscreen></iframe>

					  <div class="content">
					  	<h4 class="ui sub header">Reviews</h4>
					  	<div class="ui fluid card">
						    <div class="content">
						      <img class="right floated mini ui image" src="/images/matthew.png">
						      <div class="header">
						        Elliot Fu
						      </div>
						      <div class="meta">
						        Date: 
						      </div>
						      <div class="description">
						        Best class ever! 
						      </div>
						    </div>
					  </div>
					</div>
  				</div>
  				<div class="two wide column"></div>
			<!--</div>
		</div>
	</div>-->

	<div class = "box" id = "confirm_box">
        <br>
        <div><h3 class = "box_title" >Confirmed!</h3></div>
        <br>
        <p id ="confirm_note">You're confirmed for the class. Your neighbor is so excited to share their culture with you. You can view the classes you've signed up for in your profile.</p>
        <br>
        <a href = "learn">
        <button id = "confirm_button" onclick = "close_confirm()" class = "confirm_button ui button" style="margin-bottom: 10px;">Return</button></a>
        <br>
     </div>

<script src="/js/handlebars-v4.0.5.js"></script>

    <!-- Helpers -->
<script src="/js/handlebars-helpers.js"></script>

<script src="/js/class_description-view.js"></script> 


</body>

</html>