<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
    <link rel="stylesheet" type="text/css" href="/css/aboutus.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>

    <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>-->
  <script src="/popup/popup.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <title>UrbanSpire</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/teach.css">
  <link rel="stylesheet" type="text/css" href="/css/faq.css">
  <link rel="stylesheet" type="text/css" href="/popup/popup.css">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <% include ../partials/menu-bar.ejs %>

    <title>Frequently Asked Questions</title>

    <script> 
      $( document ).ready(function() {
        $('#profile_dropdown').dropdown({action: 'combo'});
      $('.ui.accordion').accordion();
      });
    </script>

  </head>
  <body>

    <!-- <div class="ui segment">
    <a class = "ui left aligned header" id = "logo" href = "">UrbanSpire</a>
  </div> -->
  <!-- <div class = "banner"> 
    <img class = "home_banner" src="salsa.jpeg">
    <div class="ui basic segment banner_middle">
      <h2 class = "ui header" id = "motto">Frequently Asked Questions</h2>
    </div>


  </div> -->
    <div id="faq-header">
      Frequently Asked Questions
    </div>
    <div id="faq-subheader"> 
      Find the answers you need
    </div>

    <div class = "ui segment"> 
      <br> <br>
      <div class="ui two column centered grid">
        <div class="column">
      <div class="ui styled accordion">
        <div class="active title">
          <i class="dropdown icon"></i>
          What is the purpose of this site? 
        </div>
        <div class="active content">
          <p>The purpose of this site is to help you discover and make the most of the cultural wealth present in your community. The people that we cross on the streets and in the elevator on a daily basis often hail from infinitely varied regions, and consequently have a panoply of skills and experiences that we could (until now) only dream of: think Chinese calligraphy, Australian slang, Javanese sculpture, Turkish belly-dancing… <br> <br> At the same time, these community members are likely not as familiar with your part of the world as you are. <br> <br> UrbanSpire is the possibility to learn from and teach each other these culturally-specific skills in a relaxed, safe and convenient manner. Choose your preferred activity, teacher and time slots, and you are all set to embark upon your journey of cultural discovery! <br> </p>

        </div>
        <div class="title">
          <i class="dropdown icon"></i>
         How do I know whether I am a “newcomer” or a “community member”? 
        </div>
        <div class="content">
          <p>It depends entirely on how you feel, or what you identify with! </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          How does the search work? 
        </div>
        <div class="content">
          <p>Our search relies on three categories: activity class (e.g. cooking, dancing, art), cultural origin (e.g. Africa, Asia, Europe) and distance from where you are (5 miles, 10 miles…) By combining these different factors, you can find the cultural class that you have always wanted to take! <br> <br> And if it doesn’t exist yet… it means it is time for you to create it! <br> </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          How can I get in touch with a teacher? 
        </div>
        <div class="content">
          <p>After having signed up for a class, you are provided with the email address of your teacher, so that you may get in touch with him/her to discuss matters pertaining to the class, such as materials or alternate time slots. </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Is there a limit to the number of classes I can take or teach?
        </div>
        <div class="content">
          <p>After having signed up for a class, you are provided with the email address of your teacher, so that you may get in touch with him/her to discuss matters pertaining to the class, such as materials or alternate time slots. </p>
        </div>

          <div class="title">
          <i class="dropdown icon"></i>
          I have a complaint/I am dissatisfied with my Urbanspire experience. How can I voice it?  
        </div>
        <div class="content">
          <p>Give us a call at 650-123-1234 or email us at urbanspirefaq@gmail.com, and we will do our best to address your complaint. </p>
        </div>

          <div class="title">
          <i class="dropdown icon"></i>
          I can’t find my question on this page.
        </div>
        <div class="content">
          <p>Give us a call at 650-123-1234 or email us at urbanspirefaq@gmail.com to obtain a personalized response to your query within 24 hours. We look forward to hearing from you soon!  </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% include ../partials/footer.ejs %> 
  </body>

</html>
