<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<script src="/semantic/dist/semantic.min.js"></script>
	<title>UrbanSpire</title>
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
	<div class="ui segment">
	  	<a class = "ui left aligned header" id = "logo" href = "home">UrbanSpire</a>
		<div class="ui buttons learnteach">
			<a href = "learn" class="ui button">Learn</a>
		  	<div class="or"></div>
		  	<a href = "teach" class="ui active button">Teach</a>
		</div>
		<button class="ui black basic button user_account">
		  <i class="user icon"></i>
		  Christina Kao
		</button>		 
	</div>
	<div class = "banner"> 
		<img class = "home_banner" src="images/globe.jpg">
		<div class="ui basic segment banner_middle">
		 	<h2 class = "ui header" id = "motto">Bring What You Know and Love to Your Community</h2>
		</div>
	</div>

	<div class="ui basic segment" id = "banner_prompt">
	  <h2 class="ui header" id = "prompt">I want to ...</h2>
	  <a href = "/learn" class="ui animated fade massive button" tabindex="0">
		  <div class="visible content">Learn</div>
		  <div class="hidden content">I am a local.</div>
	  </a>
		<a href = "/teach" class="ui animated fade massive button" tabindex="0">
		  <div class="visible content">Teach</div>
		  <div class="hidden content">I am a newcomer.</div>
		</a>
	</div>

</body>
</html>
