<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/semantic/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">

	<title>UrbanSpire</title>
</head>

<body>
	<div class="ui segment">
	  <a class = "ui left aligned header" id = "logo" href = "">UrbanSpire</a>
		<div class="ui right middle floated medium buttons learnteach">
		  <a href = "/learn" class="ui button">Learn</a>
		  <div class="or"></div>
		  <a href = "/teach" class="ui button">Teach</a>
		</div>		 
	</div>
	<div class = "banner"> 
		<img class = "home_banner" src="images/globe.jpg">
		<div class="ui basic segment banner_middle">
		 	<h2 class = "ui header" id = "motto">Bring What You Know and Love to Your Community</h2>
		</div>
	</div>

	<div class="ui basic segment" id = "banner_prompt">
	  <h2 class="ui header" id = "prompt">I want to ...</h2>
	  <a href = "/learn" class="ui animated fade massive button" tabindex="0">
		  <div class="visible content">Learn</div>
		  <div class="hidden content">I am a local.</div>
	  </a>
		<a href = "/teach" class="ui animated fade massive button" tabindex="0">
		  <div class="visible content">Teach</div>
		  <div class="hidden content">I am a newcomer.</div>
		</a>
	</div>

</body>
</html>
