<!DOCTYPE html>

<html>
  <head>
  	<meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>
    <script src="/js/ejs_prod.js"></script>
  </head>

  <body>



  	<div class="ui segment">
        <a class = "ui left aligned header" id = "logo" href = "/home">UrbanSpire</a>
      <div class="ui right middle floated medium buttons learnteach">
        <a href = "learn" class="ui button">Learn</a>
          <div class="or"></div>
          <a href = "teach" class="ui active button">Teach</a>
      </div>
      <a href = "profile">
        <button class="ui black basic button user_account">
          <i class="user icon"></i>
          Matthew
        </button> 
      </a>   
    </div>
    <div class = "banner"> 
      <img class = "home_banner" src="/images/tropical.jpeg">
      <div class="ui basic segment banner_middle">
        <h2 class = "ui header" id = "motto">Bring What You Know and Love to Your Community</h2>
      </div>
    </div>

    <div class = "middlecontainer"> 

    <span> <br> I want to learn </span>  &nbsp;&nbsp;&nbsp;

    <select class="ui dropdown" id="cultureSelector">
      <option value="0">Any Cultural Origin</option>
      <option value="1">Asian</option>
      <option value="2">European</option>
      <option value="3">African</option>
      <option value="4">Middle Eastern</option>
    </select>&nbsp;&nbsp;&nbsp;

    <select class="ui dropdown" id="activitySelector">&nbsp;&nbsp;&nbsp;
      <option value="0">Any Activity</option>
      <option value="1">Dancing</option>
      <option value="2">Cooking</option>
      <option value="3">Art</option>
    </select>&nbsp;&nbsp;&nbsp;

    <span> from a neighbor within </span> &nbsp;&nbsp;&nbsp;

    <select class="ui dropdown" id="radiusSelector">
      <option value="0">Any Distance</option>
      <option value="1">5 miles</option>
      <option value="2">10 miles</option>
      <option value="3">15 miles</option>
    </select>&nbsp;&nbsp;&nbsp;

    <button class="ui primary button" id="search">
      Search
    </button>

    </div>

    <div id="results">
      <div class="bottom-container">

        <h1 class="centeredText"> Need Inspiration? </h1> <h3 class="centeredText"> Check out these recommended classes from your community. </h3>

        <div class="ui grid">
            <div class="two wide column"></div>
            <div id="searchResults" class="twelve wide column">
              <!--<div  class="ui centered grid"></div>-->
            </div>
            <div class="two wide column"></div> 
        </div>
      </div>
    </div>

    <script type="text/x-handlebars-template" id="searchresults-template">
      {{#if error }}
      <h3 class="ui block header">Sorry, we are having trouble accessing the classes right now.</h3>
      {{/if}}
      {{#unless error }}
        {{#if classes }}
          <div class="ui stackable cards">
            {{#each classes}}
              {{> learnClassesCard this }}
            {{else}}
              <h3 class="ui block header">Sorry, there aren&#39;t currently any classes being offered in this area.</h3>  
            {{/each}}
          </div>
        {{/if}}
      {{/unless}}
    </script>
    <script src="/js/lib/handlebars.js"></script>
    <!-- <script src="/js/handlebars-v4.0.5.js"></script> -->

    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Models --> 
    <script type="text/javascript" src="js/user-model.js"></script>
    <script type="text/javascript" src="js/class-model.js"></script>

    <!-- Views --> 
    <script type="text/javascript" src="js/learn-view.js"></script>
  </body>
</html>
