<div class="bottom-container">

<h1> Need Inspiration? </h1> <h3> Check out these recommended classes from your community. </h3>


<div class="ui grid">
    <div class="two wide column"></div>

<div class="ui centered grid"> 
<!--<div class="two wide column"></div>-->
<div class="twelve wide column">
<div class="ui three column grid">
  <div class="row">
    <div class="column">    
      <div class="ui centered card">
        <div class="image">
        <img class = "square" src="/images/bowls.jpg">
        </div>
      <div class="content">
        <a class="header">Ceramic Bowl Painting</a>
      </div>
  </div>
</div> 
    <div class="column">    
      <div class="ui centered card">
        <div class="image">
        <img class = "square" src="/images/img2.jpeg">
        </div>
      <div class="content">
        <a class="header">Peruvian Weaving</a>
      </div>
  </div>
</div> 
<div class="column">    
      <div class="ui centered card">
        <div class="image">
        <img class = "square" src="/images/img3.jpeg">
        </div>
      <div class="content">
        <a class="header">Haitian Dancing</a>
      </div>
  </div>
</div> 
  </div>
  <div class="column">    
      <div class="ui centered card">
        <div class="image">
        <img class = "square" src="/images/img4.jpeg">
        </div>
      <div class="content">
        <a class="header">Icelandic Poetry</a>
      </div>
  </div>
</div> 
<div class="column">    
      <div class="ui centered card">
        <div class="image">
        <img class = "square" src="/images/img5.jpeg">
        </div>
      <div class="content">
        <a class="header">Somalian Cooking</a>
      </div>
  </div>
</div> 
<div class="column">    
      <div class="ui centered card">
        <div class="image">
        <img class = "square" src="/images/img6.jpeg">
        </div>
      <div class="content">
        <a class="header">Russian Dancing</a>
      </div>
  </div>
</div>
<div class="two wide column"></div> 
</div>
</div>

</div>
</div>
</div>