<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>
   
   <script type="application/javascript">
    $(document).ready(function() {
          $('.ui.dropdown').dropdown();
    });
  </script>
    
</head>

<body>



	<div class="ui segment">
    <a class = "ui left aligned header" id = "logo" href = "/">UrbanSpire</a>
  </div>
  <div class = "banner"> 
    <img class = "home_banner" src="/images/tropical.jpeg">
    <div class="ui basic segment banner_middle">
      <h2 class = "ui header" id = "motto">Bring What You Know and Love to Your Community</h2>
    </div>
  </div>
</div>


<div class = "middlecontainer"> 

<h2> <br> I want to learn </h2>  &nbsp;&nbsp;&nbsp;

<select class="ui dropdown">
  <option value="">Cultural Origin</option>
  <option value="1">Asian</option>
  <option value="0">European</option>
  <option value="0">African</option>
</select>

<select class="ui dropdown">&nbsp;&nbsp;&nbsp;
  <option value="">Activity</option>
  <option value="1">Dancing</option>
  <option value="0">Cooking</option>
  <option value="0">Art</option>
</select>


<h2> from a neighbor within </h2> &nbsp;&nbsp;&nbsp;

<select class="ui dropdown">
  <option value="">Distance</option>
  <option value="1">5 miles</option>
  <option value="0">10 miles</option>
  <option value="0">15 miles</option>
</select>

</div>



<div class="bottom-container">

<h1> We found 4 classes in your area. </h1> <h3> Check out these African Cooking classes from your community. </h3> <br> <br>


<div class = "wrapper" > 
<div class="ui four cards">
      <div class="ui card">
        <div class="ui image" style="overflow:hidden;">
        <img class = "square" src="/images/iriokenyan.jpeg">
        </div>
      <div class="content">
        <a class="header">Irio! Kenyan Cooking</a>
      </div>
  </div>
      <div class="ui card">
        <div class="ui image" style="overflow:hidden;">
          <img class = "square" src="/images/ghanachichinga.jpg">
        </div>
        <div class="content">
          <a class="header">Make Ghanaian Chichingas! </a>
        </div>
      </div>
      <div class="ui card">
        <div class="ui image" style="overflow:hidden;">
        <img class = "square" src="/images/etheopian.png">
        </div>
      <div class="content">
        <a class="header">Ethiopian Injera Cooking Class</a>
      </div>
  </div>
      <div class="ui card">
        <div class="ui image" style="overflow:hidden;">
        <img class = "square" src="/images/somaliancooking.jpeg">
        </div>
      <div class="content">
        <a class="header">Somalian Cooking</a>
      </div>
</div> 

</div>
</div>

</div>

</body>
</html>
