<!DOCTYPE html>

<html>
  <head>
  	<meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
  	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>
    <link href="/css/learn.css" rel="stylesheet">
    <script src="/js/ejs_prod.js"></script>

    <title>UrbanSpire</title>
  </head>

  <body>
    <% include ../partials/menu-bar.ejs %>

    <div class = "middlecontainer" style="margin-top:50px;"> 

    <span> <br> I want to learn </span>  &nbsp;&nbsp;&nbsp;

    <select class="ui dropdown" id="cultureSelector">
      <option value="0">Any Cultural Origin</option>
      <option value="1">Asian</option>
      <option value="2">European</option>
      <option value="3">African</option>
      <option value="4">Middle Eastern</option>
    </select>&nbsp;&nbsp;&nbsp;

    <select class="ui dropdown" id="activitySelector">&nbsp;&nbsp;&nbsp;
      <option value="0">Any Activity</option>
      <option value="1">Dancing</option>
      <option value="2">Cooking</option>
      <option value="3">Art</option>
    </select>&nbsp;&nbsp;&nbsp;

    <span> from a neighbor within </span> &nbsp;&nbsp;&nbsp;

    <select class="ui dropdown" id="radiusSelector">
      <option value="0">Any Distance</option>
      <option value="1">5 miles</option>
      <option value="2">10 miles</option>
      <option value="3">15 miles</option>
    </select>&nbsp;&nbsp;&nbsp;

    <button class="ui primary button" id="search">
      Search
    </button>

    </div>

    <div id="results">
      <div class="bottom-container">

        <h1 class="centeredText"> Need Inspiration? </h1> <h3 class="centeredText"> Check out these recommended classes from your community. </h3>

        <div class="ui grid">
            <div class="two wide column"></div>
            <div id="searchResults" class="twelve wide column">
              <!--<div  class="ui centered grid"></div>-->
            </div>
            <div class="two wide column"></div> 
        </div>
      </div>
    </div>

    <div id="class_des_wrapper">
        <a href="learn"><button class="ui button class_des_close_button">X</button></a>
        <div class="class_des" id="class_container">
          <div class="ui grid class_des_teacher_info">
            <div class="two wide column"></div>
              <div class="four wide column">
                <div class="ui fluid card">
                  <div class="image">
                    <img src="/images/matthew.png" style="width:83%; height: 100%;">
                  </div>
                  <div class="content">
                    <p class="header class_des_instructor_title">Instructor Info</p>
                    <a class="header">Matthew</a>
                    <div class="meta">
                        <span class="date">Email:</span>
                    </div>
                    <div class="description" style="font-size: 14px;">
                        Matthew is an art director living in New York.
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                  </div>
              </div>
              </div>
              <div class="seven wide column">
                <div class="ui fluid card">
                <div class="content">
                  <div class="header class_des_title">Turkish Belly Dancing<span> &nbsp;&nbsp;&nbsp;</span><span class="ui tag label class_setting_tag">Group</span> </div>
                </div>
                <div class="content">
                  <div class="ui two stackable cards">
                  <div class="card">
                    <div class="image">
                      <img src="/images/turkish_dance.png">
                    </div>
                  </div>
                 </div>
                </div>
                <div class="content">
                  <h4 class="ui sub header">Class Description</h4>
                  <div class="ui small feed">
                    This is where all new dancers start. This class gives you the understanding of basic belly dance technique, posturing, language, move execution and it helps you to build necessary strength. You must have a working knowledge of the material in the intro class to move into the intermediate drills. Moving into the intermediate drills class must be approved by your instructor. This class is drop in friendly. 
                  </div>
                  <h4 class="ui sub header">Address: 750 Escondido Rd, Stanford, CA 94305</h4>
                </div>
                <iframe width="420" height="320" frameborder="0" style="border:0; padding-left: 20px; padding-bottom: 10px;" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJdX42cNu6j4AR8cteudGn_nA&key=AIzaSyBWrRwS96iCRzzRUw5gtzjXvvgj4MMBeQ0" allowfullscreen></iframe>
                <div class="extra content">
                  <div class="ui form">
                    <button class="ui button right floated" onclick = "confirm()">Sign up for class</button>
                    <div class="grouped fields">
                      <h4 class="ui sub header">Select Available Times</h4>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="example2">
                          <label>02/20/2016  5PM - 7PM</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="example2">
                          <label>02/21/2016  5PM - 7PM</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <h4 class="ui sub header">Reviews</h4>
                  <div class="ui fluid card">
                    <div class="content">
                      <img class="right floated mini ui image" src="/images/matthew.png">
                      <div class="header">
                        Elliot Fu
                      </div>
                      <div class="meta">
                        Date: 
                      </div>
                      <div class="description" style="font-size: 14px;">
                        Best class ever! 
                      </div>
                    </div>
                </div>
              </div>
              </div>
              <div class="two wide column"></div>
          </div>
        </div>
      </div>  

      <div class = "box" id = "confirm_box">
            <br>
            <div><h3 class = "box_title" >Confirmed!</h3></div>
            <br>
            <p id ="confirm_note">You're confirmed for the class. Your neighbor is so excited to share their culture with you. You can view the classes you've signed up for in your profile.</p>
            <br>
            <a href = "learn">
            <button id = "confirm_button" onclick = "close_confirm()" class = "confirm_button ui button" style="margin-bottom: 10px;">Return</button></a>
            <br>
         </div>

    <script type="text/x-handlebars-template" id="searchresults-template">
      {{#if error }}
      <h3 class="ui block header">Sorry, we are having trouble accessing the classes right now.</h3>
      {{/if}}
      {{#unless error }}
        {{#if classes }}
          <div class="ui stackable cards">
            {{#each classes}}
              {{> learnClassesCard this }}
            {{else}}
              <h3 class="ui block header">Sorry, there aren&#39;t currently any classes being offered in this area.</h3>  
            {{/each}}
          </div>
        {{/if}}
      {{/unless}}
    </script>
    <script src="/js/lib/handlebars.js"></script>
    <!-- <script src="/js/handlebars-v4.0.5.js"></script> -->

    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Models --> 
    <script type="text/javascript" src="js/user-model.js"></script>
    <script type="text/javascript" src="js/class-model.js"></script>

    <!-- Views --> 
    <script type="text/javascript" src="js/learn-view.js"></script>
  </body>
</html>
