<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/css/aboutus.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.js"/>
     <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/semantic/components/button.min.css"/>

    <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>-->
  <script src="/popup/popup.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <title>UrbanSpire</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/teach.css">
  <link rel="stylesheet" type="text/css" href="/popup/popup.css">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Popup</title>
  
      </head>

        <body>

          <script>
          $('.ui.button')
            .popup()
          ;
          </script>

          <script>
          $('.ui.button')
              .popup({
              on: 'click'
          })
          ;
          </script> 


          <div class="ui button">Login/Signup popup</div>

            <div class="ui flowing popup top left transition hidden">
              <p> Not signed in yet? </p>
              <div class="ui three column divided center aligned grid">

                  <div class="column">
                    <div class="ui button">Sign Up</div>
                  </div>

                  <div class="column">
                    <div class="ui button">Login</div>
                  </div>

                  <div class="column">
                    <div class="ui button">View FAQ</div>
                  </div>

   
              </div>
          </div>

        </body>

    </html>
