<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<title></title>

	<link href="/semantic/semantic.min.css" rel="stylesheet">
	<link href="/semantic/semantic.css" rel="stylesheet">
	<link href="/css/tmp.css" rel="stylesheet">

	<script src="/semantic/semantic.min.js"></script> 
	<script src="/semantic/semantic.js"></script> 

	<script>
		$( document ).ready(function() {
    		$('.menu .item').tab();
		});
	</script>
</head>

<body>

	<div class="ui grid" style="padding-top: 2cm;">
		<div class="two wide column"></div>
  		<div class="four wide column">
  			<div class="ui card">
  				<div class="image">
    				<img src="/images/matthew.png">
  				</div>
  				<div class="content">
    				<a class="header">Matthew</a>
    				<div class="meta">
      					<span class="date">Email:</span>
   					</div>
    				<div class="description">
      					Matthew is an art director living in New York.
    				</div>
  				</div>
  				<div class="extra content">
    				<a>
      					<i class="user icon"></i>
      					22 Friends
    				</a>
  				</div>
			</div>
  		</div>
  		<div class="eight wide column">
  			<div class="ui top attached tabular menu">
  				<a class="item active" data-tab="first">Upcoming Learnings</a>
  				<a class="item" data-tab="second">Upcoming Teachings</a>
  				<a class="item" data-tab="third">Classes Taken</a>
  				<a class="item" data-tab="fourth">Classes Taught</a>
			</div>
			<div class="ui bottom attached tab segment active" data-tab="first">
				<h3 class="ui block header">
  					This week
				</h3>
  				<div class="ui three column grid">
  					<div class="column">
  						<div class="ui fluid card">
      						<div class="image">
        						<img src="images/turkish_dance.png">
      						</div>
      						<div class="content">
        						<a class="header">Turkish Belly Dance</a>
      						</div>
    					</div>
  					</div>
  					<div class="column">
  						<div class="ui fluid card">
      						<div class="image">
        						<img src="images/japan.png">
      						</div>
      						<div class="content">
        						<a class="header">Japanese Dance</a>
      						</div>
    					</div>
  					</div>
  					<div class="column">
  						<div class="ui fluid card">
      						<div class="image">
        						<img src="images/greekfood.png">
      						</div>
      						<div class="content">
        						<a class="header">Greek Cooking</a>
      						</div>
    					</div>
  					</div>
  					<div class="column">
  						<div class="ui fluid card">
      						<div class="image">
        						<img src="images/italianpainting.jpg">
      						</div>
      						<div class="content">
        						<a class="header">Italian Painting</a>
      						</div>
    					</div>
  					</div>
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="second">
  				None for now. <a href="/teach">Create a class to teach!</a>
			</div>
			<div class="ui bottom attached tab segment" data-tab="third">
  				None.
			</div>
			<div class="ui bottom attached tab segment" data-tab="fourth">
  				None.
			</div>
  		</div>
  		<div class="two wide column"></div>
	</div>	

</body>

</html>