<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <title></title>

	<link href="/semantic/semantic.min.css" rel="stylesheet">
	<link href="/semantic/semantic.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
	<script src="/semantic/semantic.min.js"></script> 
	<script src="/semantic/semantic.js"></script> 

  <script>
    $( document ).ready(function() {
        $('.menu .item').tab();
    });
  </script>
</head>

<body>
  <% include ../partials/menu-bar.ejs %>

  <div class="ui grid" style="padding-top: 1cm; margin-top:50px;"">
    <div class="two wide column"></div>
      <div id="profile"></div>

      <div class="eight wide column">
        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="first">Upcoming Learnings</a>
          <a class="item" data-tab="second">Upcoming Teachings</a>
          <a class="item" data-tab="third">Classes Taken</a>
          <a class="item" data-tab="fourth">Classes Taught</a>
        </div>

        <div id="learningTab" class="ui bottom attached tab segment active" data-tab="first"></div>
        <div id="teachingTab" class="ui bottom attached tab segment" data-tab="second">
        </div>
        <div id="pastClassesTab" class="ui bottom attached tab segment" data-tab="third">
        </div>
        <div id="taughtTab" class="ui bottom attached tab segment" data-tab="fourth">
        </div>
      </div>
      <div class="two wide column"></div>
  </div>  

  <script type="text/x-handlebars-template" id="profileinfo-template">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src="{{ profile.image }}">
        </div>
        <div class="content">
          <a class="header">{{ profile.name.first }} {{ profile.name.last }}</a>
          <div class="meta">
              <span class="date">Email: {{ profile.email }}</span>
          </div>
          <div class="description">
              {{ profile.description }}
          </div>
        </div>
        <div class="extra content">
          <a>
              <i class="user icon"></i>
              {{ profile.connections }} Connections
          </a>
        </div>
      </div>
    </div>
  </script>
  <script type="text/x-handlebars-template" id="upcomingclasses-template">
    {{#if hasMessage }}
      <h3 class="ui block header">{{ message }}</h3>
    {{/if}}
    {{#unless error }}
    {{#if classes }}
      <div class="ui stackable cards">
        {{#each classes}}
          {{> profileClassesCard this }}
        {{else}}
          <h3 class="ui block header">You have no upcoming classes. Get to the <a href="/learn">learn page</a> to explore.</h3>  
        {{/each}}
      </div>
    {{/if}}
    {{/unless}}
  </script>
  <script type="text/x-handlebars-template" id="upcomingteachings-template">
    {{#if hasMessage }}
      <h3 class="ui block header">{{ message }}</h3>
    {{/if}}
    {{#unless error }}
      <div class="ui stackable cards">
        {{#each classes}}
          {{> profileClassesCard this }}
        {{else}}
          <h3 class="ui block header">You have no upcoming classes to teach. Get to the <a href="/teach">teach page</a> to create a class.</h3>
        {{/each}}
      </div>
    {{/unless}}
  </script>
  <script type="text/x-handlebars-template" id="pastclasses-template">
    {{#if hasMessage }}
      <h3 class="ui block header">{{ message }}</h3>
    {{/if}}
    {{#unless error }}
      <div class="ui stackable cards">
        {{#each classes}}
          {{> reviewClassesCard this }}
        {{else}}
          <h3 class="ui block header">Oh no! You have not taken any classes yet! Get to the <a href="/learn">learn page</a> to explore.</h3>  
        {{/each}}
      </div>
    {{/unless}}
  </script>
  <script type="text/x-handlebars-template" id="pastteachings-template">
    {{#if hasMessage }}
      <h3 class="ui block header">{{ message }}</h3>
    {{/if}}
    {{#unless error }}
      <div class="ui stackable cards">
        {{#each classes}}
          {{> profileClassesCard this }}
        {{else}}
          <h3 class="ui block header">You have never taught a class before. If you are a newcomer, head over to the <a href="/teach">teach page</a> to create a class!</h3>  
        {{/each}}
      </div>
    {{/unless}}
  </script>

  <script src="/js/lib/handlebars.js"></script>
  <!-- <script src="/js/handlebars-v4.0.5.js"></script> -->

  <!-- Helpers -->
  <script src="/js/handlebars-helpers.js"></script>

  <!-- Models --> 
  <script type="text/javascript" src="js/user-model.js"></script>
  <script type="text/javascript" src="js/class-model.js"></script>

  <!-- Views --> 
  <script type="text/javascript" src="js/profile-view.js"></script>
</body>

</html>