<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
    <link rel="stylesheet" type="text/css" href="index.css"/>
     <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/components/button.css"/>
     <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.css"/>
     <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="Semantic-UI-CSS-master/components/button.min.css"/>
    <title>Sign-In Page</title>
  </head>

  <body>

    <div class="ui segment">
    <a class = "ui left aligned header" id = "logo" href = "">UrbanSpire</a>
  </div>
  <div class = "banner"> 
    <img class = "home_banner" src="india.jpeg">
    <div class="ui basic segment banner_middle">
      <h2 class = "ui header" id = "motto">Bring What You Know and Love to Your Community</h2>
    </div>
  </div>

    <div class = container> 
      <form>
        Email: 
       <input type="text" name="username"><br>
       <br> 

        Password: 
        <input type="text" name="password"><br>
        <br> 

       Street Address: 
       <input type="text" name="username"> 

       State: 
       <input type="text" name="username">

       Postal Code: 
       <input type="text" name="username"><br><br>


       Country: 
       <input type="text" name="username"><br>
       <br> 

      </form>

      <br>
      <button type="button"> Confirm Account
      </button>


    </div> 
	</body>

</html>
